.banner{
    background: url(../../images/2_1.jpg) center no-repeat;
    background-size: cover;
    height: 350px;
}
.textcont {
    background: #fff;
    padding: 20px 130px;
    height: auto;
}

.column-1 {
    width: 49%;
    display: inline-table;
    text-align: justify;
    word-spacing: 1px;
    padding-right: 10px;
}

.column-1 p {
    text-indent: 20px;
    padding-bottom: 22px;
    font-size: 18px;
}

.column-1 p:first-child::first-letter {
    float: left;
    font-weight: bold;
    font-size: 46px;
    padding: 0px;
    vertical-align: top;
}

.column-1 p:first-child {
    text-indent: 0px;
}
.column-1.noright {
    padding-right: 0px;
}
.textcont h1 {
    font-size: 44px;
    color: red;
    text-transform: uppercase;
}
.first p:first-child::first-letter {
    float: left;
    font-weight: bold;
    font-size: 46px;
    padding: 0px;
    vertical-align: top;
}

.first p:first-child,p.noindent {
    text-indent: 0px;
}
